@media(max-width: 375px){
    body{
        height: auto;
        margin: 100px 0;
    }
    
    .grid-container{
        display: flex;
        flex-direction: column;
    }

    [class*="col-"]{
        width: 230px;
    }

    [class*="col-"] p{
        margin-bottom: 30px;
    }

    .col-left{
        border-radius: 10px 10px 0 0;
    }

    .col-right{
        border-radius: 0 0 10px 10px;
    }
}